html, body 
{
    color: #636b6f;
    font-family: 'Quicksand', sans-serif;
  	font-weight: 400;
    margin: 0;
    background-color: #eee;
}

html::-webkit-scrollbar 
{
    width: 0.6em;
}

html::-webkit-scrollbar-thumb 
{
  background-color: #37474f;
  outline: 1px solid transparent;
}
.grey-darken-3{
	background-color: #263238;
}

.grey-darken-4{
	background-color: #263238;
}

.navbar{
	border-radius: 0;
	border: 0 !important;
	margin: 0;
}

.navbar-nav li a i{
	color: #fff;
}

.navbar .navbar-brand {
	color:#fff;
}

.list-group .list-group-item{
	background-color: transparent;
	border:0;
}

.list-group .list-group-item i{
	font-size: 14pt;
	color: #fff;
	margin-top: 20px;
}

.header{
	margin-top: 50px;
	font-weight: 600;
}

.result{
	min-height: 500px;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 30px;
}

.side-bar {
	width:5%;
	margin: 0;
	padding: 0;
	width:5%;"
}

.main-bar {
	width:95%;
}

@media only screen and (max-width: 768px) 
{
	.side-bar {
		width:0%;
	}

	.main-bar {
		width:100%;
	}	
}